/* UserManagement.css */

.user-management-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: "Roboto", sans-serif;
}

.profile-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #0f766e;
}

.profile-info {
  color: #333;
}

.user-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.user-email {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}
