.NavBar {
  position: fixed;
  top: 0;
  left: -400px;
  width: auto;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow-y: auto;
  transition: left 0.5s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1000;
}

.NavBar-open {
  left: 0;
}

/* Sidebar toggle button */
.NavBar-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 50px;
  z-index: 1001;
}

.NavBar-toggle:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
}

/* Sidebar list and links */
.NavBar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.NavBar ul li {
  margin-bottom: 1rem;
  font-size: large;
  display: flex;
  flex-direction: column;
}

.NavBar ul li a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 3vw;
}

.NavBar ul li a:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
  padding: 0.3rem 0.5rem;
  border-radius: 5%;
}

/* Dropdown header styles */
.dropdown-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border-radius: 4px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.dropdown-header:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
}

.dropdown-header.active-menu {
  background-color: var(--accent-color);
  color: var(--hover-text-color);
}

/* Submenu styles */
.submenu {
  list-style: none;
  padding-left: 1rem;
  margin: 0;
}

.submenu-item {
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

.submenu-item a {
  color: var(--text-color);
  text-decoration: none;
}

.submenu-item a:hover {
  color: var(--hover-text-color);
}

/* Animation for submenu */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.submenu {
  animation: fadeIn 0.3s ease-in-out;
}

/* src/styles/TopNavBar.css */
/* src/styles/TopNavBar.css */
.overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  width: 5%;
  height: 10%;
  background-color: rgb(12, 167, 115);
  transition: all 0.5s ease-in-out;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* When the sidebar is open, position the overlay at the end of the sidebar and keep it visible */
.overlay--open {
  left: 25%;
  opacity: 1;
}

/* When the sidebar is closed, position the overlay at the top left and hide it by default */
.overlay--closed {
  left: 0;
  opacity: 0;
}

/* When the user hovers over the closed overlay area, fade it in */
.overlay--closed:hover {
  opacity: 1;
}

/* Icon styling */
.overlay__icon {
  font-size: 1.5rem;
}


/* Top Header Navbar */
.TopNavBar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 1rem;
  background-color: var(--header-bg);
  color: var(--header-text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
}

.company-logo img {
  height: 10vh;
  cursor: pointer;
}

/* Sidebar offset for header */
.NavBar-container {
  margin-top: calc(var(--header-height) + 10px);
  /* Offset to account for the top header */
}

/* Hover effect for smoother transitions */
.NavBar ul li a:hover {
  background-color: var(--hover-color);
  transition: background-color 0.3s ease-in-out;
}

/* Styled scrollbars */
.NavBar::-webkit-scrollbar {
  width: 8px;
}

.NavBar::-webkit-scrollbar-thumb {
  background-color: var(--hover-color);
  border-radius: 10px;
}

.NavBar::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}