:root {
  --primary-color: #148f47; /* Primary: dark gray-blue */
  --secondary-color: #ffffff; /* Secondary: light gray */
  --accent-color: #118324; /* Accent: muted blue-gray */
  --hover-color: #2f9f58; /* Hover: darker blue-gray */
  --text-color: #ffffff; /* Light gray text */
  --hover-text-color: #bfdbfe; /* Light blue hover effect */
  --header-bg: #f8fafc; /* Top header background */
  --header-text-color: #1e293b; /* Header text */
  --header-height: 7vh;
}


.MainContent {
  margin-top: var(--header-height); /* Adjust for the TopNavBar height */
  padding: 2rem; /* Optional: Add padding for better spacing */
  text-align: center;
}


@media (max-width: 768px) {
  :root {
    --header-height: 10vh; /* Adjust for smaller screens */
  }
}
